etl_config:
  DATA_SOURCES: [
    domain:'barchart'
    type:'excel'
    file:'my_excel_source.xls'
    sheetname:'barchart'
  ,
    domain:'barchart_full_features'
    type:'excel'
    file:'my_excel_source.xls'
    sheetname:'barchart_full_features'
  ,
    domain: "market-breakdown"
    type: "excel"
    file:'my_excel_source.xls'
    sheetname: "data-market-breakdown"
  ,
    domain: "dashboards"
    type: "excel"
    file:'my_excel_source.xls'
    sheetname: "dashboards"
  ,
    domain:'barlinechart'
    type:'excel'
    file:'my_excel_source.xls'
    sheetname:'barlinechart'
  ,
    domain:'horizontal_barchart_sparklines'
    type:'csv'
    file:'horizontal_barchart_sparklines.csv'
  ,
    domain:'horizontal_barchart'
    type:'csv'
    file:'horizontal_barchart.csv'
  ,
    domain:'leaderboard_centered_avg'
    type:'csv'
    file:'leaderboard_centered_avg.csv'
  ,
    domain:'leaderboard_centered_avg_avg'
    type:'csv'
    file:'leaderboard_centered_avg_avg.csv'
  ,
    domain:'heatmap'
    type:'excel'
    file:'my_excel_source.xls'
    sheetname:'heatmap'
  ,
    domain:'horizontalBarchart_full_features_main'
    type:'excel'
    file:'my_excel_source.xls'
    sheetname:'horizontal_barchart_full_main'
  ,
    domain:'horizontalBarchart_full_features_spark'
    type:'excel'
    file:'my_excel_source.xls'
    sheetname:'horizontal_barchart_full_spark'
  ,
    domain:'centered_avg_data'
    type:'excel'
    file:'my_excel_source.xls'
    sheetname:'centered_avg_full_data'
  ,
    domain:'centered_avg_avg'
    type:'excel'
    file:'my_excel_source.xls'
    sheetname:'centered_avg_average_data'
  ,
    domain:'bubble'
    type:'csv'
    file:'bubble.csv'
  ,
    domain:'stacked_barchart'
    type:'csv'
    file:'stacked_barchart.csv'
  ,
    domain: "ranks"
    type: "excel"
    file:'my_excel_source.xls'
    sheetname:'test'
  ,
    domain: "lines1"
    type: "csv"
    file: "lines_1.csv"
  ,
    domain: "lines2"
    type: "csv"
    file: "lines_2.csv"
  ,
    domain:'mon_texte'
    type:'csv'
    file:'mon_texte.csv'
  ,
    domain: "my_scorecard"
    type: "excel"
    file:'my_excel_source.xls'
    sheetname: "my_scorecard"
  ]

  REPORTS: [
    query:
      domain: "dashboards"
      default: 1.0
    template: "report"
  ]

  DASHBOARDS: [
    query:
      domain: "dashboards"
      default: 1
    report: "country"

    template: "dashboard"
  ,
    query:
      domain: "dashboards"
    report: "country"

    template: "dashboard-country"
  ]
  PERMISSIONS_DATA:
    query:
      domain: "dashboards"
      default: 1.0
  # MAX_DASHBOARDS: 500
  MONGO_INDEXES: [
    "domain"
    "version"
    [
      "domain"
      "subdomain"
    ]
    [
      "domain"
      "version"
    ]
    [
      "domain"
      "subdomain"
      "version"
    ]
  ]
